:root {
  --red: #ff6347;
  --mustard: #ffdb58;
  --green: #228b22;
  --green-gray: #2f4f4f;
  --light-blue: #b3daf1;
  --navy: #004080;
  --black: #111111;
}

@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "TAEBAEKmilkyway";
  color: var(--navy);
}
